@model IEnumerable<simple_Forum.Models.Post>
@{
    ViewData["Title"] = ViewBag.Category.title;
}

<h3>Category: @ViewBag.Category.title</h3>
<a href="/Forum/Create/@ViewBag.Category.id" class="btn btn-outline-info mb-3">Create Post</a>
<form class="form-inline" method="get">
    <input class="form-control mr-2" name="search" placeholder="Search">
    <button class="btn btn-outline-info" type="submit">Search</button>
</form>
<br>
<hr>
@foreach (var i in Model)
{
    <div>
            <div class="alert alert-secondary" style="border-radius: 0px; border-color:white;">
                <a href="/Forum/Detail/@i.id">@i.title</a><br>
                <small>@i.createDate - <a href="/Account/?name=@i.Author.username">@i.Author.username</a></small>
            </div><br>
    </div>
}