
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<hr>
@if(ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}
@if(ViewBag.Success != null)
{
    <p style="color:lawngreen;">@ViewBag.Success</p>
}
<form method="post">
    <div class="alert alert-secondary" style="border-radius: 0px; border-color:white;">Category: @ViewBag.Category.title</div>
    <input style="width:100%" name="title" class="form-control" placeholder="Post title" required /><br>
    <textarea style="width:100%" name="text" class="form-control" placeholder="Post text"></textarea><br>
    <button type="submit" class="btn btn-outline-success">Create</button>
</form>
